.wcwizard-button {
    background-color: #013366;
    border-color: #013366;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    line-height: 1em;
    margin: 20px 0 0;
    padding: 10px 27px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .wcwizard-button {
        padding: 10px 17px;
    }
}

.wcwizard-button:hover {
    border-color: #01264d;
    background-color: #01264d;
}

.wcwizard-button:focus,
.wcwizard-button:active,
.wcwizard-button:focus:active {
    outline: none;
}

.wc-wizard-step-3-options-div {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wc-wizard-step-1-option-value,
.wc-wizard-step-2-option-hidden-value,
.wc-wizard-step-3-wrap-option {
    display: none;
}

span.wc-wizard-options-price {
    font-size: 1.3em;
    line-height: 1.6;
}
