.wcwizard-button {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(1, 51, 102);
    border-radius: 10px;
    box-shadow: none;
    color: rgb(1, 51, 102);
    cursor: pointer;
    display: block;
    font-size: 1.6em;
    margin: 10px 10px 20px;
    padding: 10px 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.wcwizard-button:hover {
    color: rgb(248, 160, 37);
    border-color: rgb(248, 160, 37);
    box-shadow: 0 0 5px 0 rgb(216, 119, 35), inset 0 0 15px rgb(255, 255, 255);
}

.wcwizard-button:focus,
.wcwizard-button:active,
.wcwizard-button:focus:active {
    outline: none;
}
